@charset "UTF-8";
/* Fichier: _mixins.scss */
/* Fichier: _base.scss */
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base pour rem */
}

body {
  font-family: "Roboto", sans-serif; /* Utilise Roboto */
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  /* Styles pour les tablettes */
  /* Styles pour les ordinateurs de bureau */
}
@media (min-width: 768px) {
  body {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  body {
    padding: 3rem;
  }
}

/* Titres */
h1 {
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  margin-bottom: 1rem;
  /* Styles pour les tablettes */
  /* Styles pour les ordinateurs de bureau */
}
@media (min-width: 768px) {
  h1 {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    padding: 3rem;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
}

/* Liens */
a {
  text-decoration: none;
  transition: color 0.2s ease;
  /* Styles pour les tablettes */
  /* Styles pour les ordinateurs de bureau */
}
a:hover {
  color: #99E2D0;
  text-decoration: underline;
}
@media (min-width: 768px) {
  a {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  a {
    padding: 3rem;
  }
}

/* Classes de couleur */
.primary-background {
  color: black;
}

.secondary-background {
  color: black;
}

.tertiary-background {
  background-color: #99E2D0;
  color: white;
}

/* Importation des polices */
/* Styles pour les tablettes */
@media (min-width: 768px) {
  body {
    padding: 0rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
  }
  a {
    font-size: 1.1rem;
  }
}
/* Styles pour les ordinateurs de bureau */
@media (min-width: 1024px) {
  body {
    padding: 0rem;
  }
  a {
    font-size: 1.2rem;
  }
}
header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

header h1 {
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 2rem;
  margin: 0;
}

/* Styles pour la section de localisation */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.location .location-text {
  font-family: "Roboto", sans-serif; /* Police pour le texte */
  color: #333; /* Couleur du texte */
  font-size: 1.2rem; /* Taille du texte */
  margin-left: 30px;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  padding: 2rem;
  text-align: center;
  margin-top: 5px;
}

.reservation h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  font-weight: bolder;
  -webkit-text-stroke: 0.7px black;
}

.reservation p {
  font-family: "Roboto", sans-serif;
  color: rgb(53, 53, 53);
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.bold-h2 {
  font: weight 800px;
  -webkit-text-stroke: 1px black;
  line-height: 25px;
}

.explore-btn {
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.explore-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.fonctionnement {
  background-color: white;
  padding: 2rem;
}

.fonctionnement h2 {
  text-align: left;
  font: weight 800px;
  -webkit-text-stroke: 0.7px black;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.fonctionnement-btn {
  background-color: rgb(235, 235, 235);
  color: #333;
  padding: 2rem;
  border: none;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  font-size: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 24rem;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
.fonctionnement-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}
.fonctionnement-btn .icon {
  color: gray;
}
.fonctionnement-btn .btn-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  color: #333;
}
.fonctionnement-btn:nth-child(3) .icon {
  color: #9356DC;
}

.num-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: lighter;
}

.fonctionnement-btn .num-icon {
  position: absolute;
  left: -0.7rem;
  transform: translateY(0%);
}

.fonctionnement-btn {
  position: relative;
  padding-left: 3.5rem;
}

.restaurants {
  padding: 2rem;
  background-color: rgb(235, 235, 235);
  text-align: center;
}
.restaurants h2 {
  text-align: left;
  font: weight 800px;
  -webkit-text-stroke: 0.5px black;
  margin-bottom: 20px;
}
.restaurants .card {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}
.restaurants .card img {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  object-fit: cover;
}
.restaurants .card .new-badge {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.2rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.2rem;
}
.restaurants .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
}
.restaurants .card .card-content h3 {
  font-family: "Roboto", sans-serif;
  font: weight 800px;
  -webkit-text-stroke: 0.4px black;
}
.restaurants .card .card-content p {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
}
.restaurants .card .card-content .like-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.restaurants .card .card-content .like-icon::before {
  content: "♡"; /* Cœur vide (♡) */
  font-size: 1.6rem;
  color: grey; /* Couleur initiale du cœur */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}
.restaurants .card .card-content .like-icon::after {
  content: "♥"; /* Cœur plein (♥) */
  font-size: 1.6rem;
  background: linear-gradient(45deg, #FF79DA, #9356DC); /* Dégradé */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Le cœur plein est caché initialement */
  transition: opacity 0.3s ease-in-out;
}
.restaurants .card .card-content .like-icon:hover::before {
  opacity: 0; /* Cache le cœur vide au survol */
}
.restaurants .card .card-content .like-icon:hover::after {
  opacity: 1; /* Affiche le cœur plein au survol */
}
.restaurants .card .text-container {
  display: flex;
  flex-direction: column;
}

.site-footer {
  background-color: #333; /* Gris foncé */
  color: white; /* Texte blanc */
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif; /* Assurez-vous que cette variable est définie dans vos styles globaux */
}
.site-footer h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: flex-start;
  margin-left: 2rem;
}
.site-footer .footer-links {
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-size: 1.3rem;
}
.site-footer .footer-link {
  display: flex;
  justify-content: left;
  gap: 0.3rem; /* Espace entre l'icône et le texte */
  margin-bottom: 0.5rem;
}
.site-footer .footer-link .material-symbols-outlined {
  font-size: 1.5rem; /* Taille des icônes */
}
.site-footer a {
  display: flex;
  color: white; /* Lien en blanc */
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline; /* Souligne le texte au survol */
}

@media (min-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  header {
    height: 7rem;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .reservation h2 {
    padding: 0rem;
    font-size: 2.9rem;
  }
  h2.reservation br {
    display: none;
  }
  .fonctionnement h2 {
    margin-left: 5rem;
    margin-bottom: 0rem;
    font-size: 1.8rem;
  }
  .restaurants h2 {
    font-size: 1.8rem;
    margin-left: 5rem;
  }
  .restaurants .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants .card {
    flex-basis: calc(40% - 1rem);
  }
  .site-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
    margin: 0;
  }
  .site-footer h4 {
    margin: 0;
    padding: 0;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .footer-link {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }
  .footer-links a {
    padding: 1rem;
    display: flex;
    align-items: flex-end;
  }
}
.menu-section {
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 2rem;
  margin: 0;
}

/*# sourceMappingURL=menu-style.css.map */
